.calculatrice
{
        width:300px;
        height:400px;
        background-color:#2d3030;
        border:2px solid white;
        margin:auto;
        padding-left:5px;
        padding-bottom:5px;
        border-radius: 10pt;
}
.calculatrice td
{
        height:16.66%;
}
.calc_td_resultat
{
        text-align:center;
}
.calc_resultat
{
        width:90%;
        height: 32px;
        text-align:right;
        border-radius: 10px;
}
.calc_td_calculs
{
        text-align:center;
}
.calc_calculs
{
        width:90%;
        text-align:left;
}
.calc_td_btn
{
        width:32px;
        height:64px;
}
.calc_btn
{
        background-color: black;
        border-radius: 30px;
        color: white;
        width:64px;
        height:50px;
        font-size:20px;
}
.calc_btn:hover{
        background: linear-gradient(#1d1c1c 30%, #83837f 70% );
	border-top: 1px solid rgb(199, 199, 199);
}